<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="icon" href="public/imagens/folha.png">
    <style>
    
    </style>
    <title>Inicio</title>
  </head>
  <body>
    <!-- Cabecalho -->
    <div class="body">
      <header>
        <nav>
          <div class="header">
            <div class="logo">
              <h2>Guia de Identificação das Espécies Arbóreas do Câmpus da UTFPR, Dois Vizinhos</h2>
            </div>
            <div class="grid-header">
              <div class="btn-header">
                <form action="/guia" method="get">
                  <button class="btnHeaderRelative">Guia de Indentificação</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/terminologiaDendrologica" method="get">
                  <button class="btnHeaderRelative">Terminologia Dendrológica</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/equipe" method="get">
                  <button class="btnHeaderRelative">Equipe</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/listaEspecies" method="get">
                  <button class="btnHeaderRelative">Lista de Espécies</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/contatos" method="get">
                  <button class="btnHeaderRelative">Contatos</button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- corpo -->
      <div class="div-body">
        <h2 style="text-align: center;">Indentificação da especies arbóreas da Utfpr</h2>
        <div class="img-universidade">
          <div>
            <div style="max-width: 750px; margin: 0 auto; padding: 2%;">
              <img style="width: 100%;" src="public/imagens/imgCampus.jpg">
            </div>
          </div>
          <div>
            <p class="p-body">Espécies arbóreas são plantas lenhosas que apresentam tronco principal com ramificações laterais que formam uma copa. Apesar de existirem outras formas de vida nos ecossistemas naturais e até mesmo nos construímos pelo homem, as árvores geralmente predominam na paisagem.</p>
            <p class="p-body">O câmpus da Universidade Tecnológica Federal do Paraná, Dois Vizinhos é extremamente rico em espécies vegetais principalmente arbóreas, pois além do paisagismo da sede, apresenta um arboreto e um fragmento florestal em estágio secundário, em uma região de ecótono entre Floresta Ombrófila Mista e Floresta Estacional Semidecidual.</p>
            <p class="p-body">A identificação de espécies arbóreas não é muito fácil, e um dos recursos mais utilizados são as chaves de identificação, geralmente do tipo dicotômicas. Entretanto, nesse tipo de chave é preciso percorrer todas as entradas e características que foram usadas, dificultando a identificação, principalmente para pessoas que não são especialistas em taxonomia.</p>
          </div>
        </div>
        <p class="p-body">Chaves de acesso múltiplo têm a grande vantagem, pois o usuário pode escolher, livremente, quais caracteres quer usar, e ir já ir visualizando através de fotos as espécies que possuem tais características.</p>
        <p class="p-body">Sendo assim, os objetivos deste site são:</p>
        <p class="p-body">- Tornar disponível uma chave de acesso múltiplo, ou seja, um sistema informatizado de identificação baseado na associação de características macromorfológicas das espécies arbóreas do câmpus;</p>
        <p class="p-body">- Facilitar e agilizar o processo de identificação das espécies arbóreas, proporcionando à comunidade em geral, uma maneira fácil de reconhecer essas espécies.</p>
      </div>
      <!-- Rodapé -->
      <footer>
        <div class="rodape">
          <p class="p-rodape">Todos os Direitos Reservados.Copyright © 2016 • UTFPR - Universidade Tecnológica Federal do Paraná</p>
          <p class="p-rodape">Estrada para Boa Esperança • Km 04 • Comunidade São Cristóvão • Dois Vizinhos • Paraná • CEP: 85660-000</p>
        </div>
      </footer>
    </div>
    <script src="public/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>