<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="icon" href="public/imagens/folha.png">
    <style>
    
    </style>
    <title>Terminologia Dendrológica</title>
  </head>
  <body>
    <!-- Cabecalho -->
    <div class="body">
      <header>
        <nav>
          <div class="header">
            <div class="logo">
              <h2>Guia de Identificação das Espécies Arbóreas do Câmpus da UTFPR, Dois Vizinhos</h2>
            </div>
            <div class="grid-header">
              <div class="btn-header">
                <form action="/" method="get">
                  <button class="btnHeaderRelative">Projeto</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/guia" method="get">
                  <button class="btnHeaderRelative">Guia de Indentificação</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/Equipe" method="get">
                  <button class="btnHeaderRelative">Equipe</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/listaEspecies" method="get">
                  <button class="btnHeaderRelative">Lista de Espécies</button>
                </form>
              </div>
              <div class="btn-header">
                <form action="/contatos" method="get">
                  <button class="btnHeaderRelative">Contatos</button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- corpo -->
      <div class="div-body">
        <h2 style="text-align: center;">Terminologia Dendrológica</h2>
      </div>
      <!-- Rodapé -->
      <footer>
        <div class="rodape">
          <p class="p-rodape">Todos os Direitos Reservados.Copyright © 2016 • UTFPR - Universidade Tecnológica Federal do Paraná</p>
          <p class="p-rodape">Estrada para Boa Esperança • Km 04 • Comunidade São Cristóvão • Dois Vizinhos • Paraná • CEP: 85660-000</p>
        </div>
      </footer>
    </div>
    <script src="public/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>